<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz edycji</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header th:replace="~{fragments :: header}">
</header>

<div style="text-align: center;">
    <a th:href="@{/}" style="display: inline-block;">Wróć do strony głównej</a>
</div>

<main style="text-align: center;">
    <form th:action="@{/task/{id}/edit(id=${task.id})}" method="post" style="display: inline-block; text-align: center;">
        <span>Edytuj zadanie</span>
        <br>
        <input type="text" name="name" th:placeholder="${task.name}">
        <br>
        Podaj oczekiwaną datę realizacji zadania
        <br>
        <input type="datetime-local" name="deadline" th:placeholder="${task.deadline}">
        <br>
        <textarea name="description" th:placeholder="${task.description}"></textarea>
        <br>
        <button type="submit">Edytuj zadanie</button>
    </form>
</main>

<footer th:replace="~{fragments :: footer}">
</footer>
</body>
</html>


